=form_tag(q_search_path, :method=>'post') do
  = text_field_tag "subject", nil, placeholder: "Keyword", size: 50
  %br
  
  Exercises:
  = select_tag "exercise", options_from_collection_for_select(exercises, "id", "name"), prompt: "All"
  
  Tags:
  %select{:name => "tag"}
    %option{:value => ""} Select a tag...
    = for t in tags.each
      %option{:value => t}= t
  
  = submit_tag 'Submit'
