= render :partial => 'questions/search', :locals => {:exercises => @exercises, :tags => @tags}

%h1 List of Questions

=link_to "Add New Question", new_question_path, class: "btn btn-default"

-if @questions.size == 0
	%em = No Questions Found
-else

	%table
		%r
			%th Title: 
			%th User:
			%th Posted:
		- @questions.each do |question|
			%tr
				%td= link_to question.title, question
				%td= question.user_id
				%td= question.created_at.strftime("%m-%d-%Y")
				%td= link_to "Edit", edit_question_path(question), class: "btn btn-default"
				%td
					= form_for question, url: question_path(question.id), html: {:onsubmit => "return confirm('Are you sure you want to delete the question?');"}, method: :delete do |f|
						= submit_tag('Delete')

 
