= render partial: 'layouts/breadcrumb'
%h1
  =@question.title

- if @question.exercise_id != nil
  %h2
    = "Exercise: #{@question.exercise_id}"

- if @question.user_id != nil
  %h4
    = "User: #{@question.user_id}"

%table
  %tbody
    %strong 	
      =@question.body
    %p	
      = "Posted: #{@question.created_at.strftime("%m-%d-%Y")}" 	     

%table
  %tbody     
    %tr
      %td
        =link_to "Edit", edit_question_path(@question), class: "btn btn-default"
      %td
        =form_for @question, url: question_path(@question.id), method: :delete do |f|
          = f.submit 'Delete', class: "btn btn-default"
- if @question.tags != nil	
  %p
    = "TAGS: #{@question.tags}"
%h2 Responses:
- if @responses.size == 0
  %h3 No Responses
- else
  %table.table.table-striped{ style: 'width: 9' }
    %thead
      %th Text:
      %th User:     
      %th Posted:
    %tbody
      - @responses.each do |response|
        %tr 
          %td
            = response.text
          %td
            = response.user_id
          %td
            = response.created_at.strftime("%m-%d-%Y")

=render(:partial => 'application/record_error_messages', :locals => {:record => @response})

%h2 Respond to this question:

= form_for(@response, url: responses_path) do |f|
  = f.text_area(:text, size: "40x5")
  = f.hidden_field(:question_id, :value => @question.id)
  = f.submit "Submit", class: "btn btn-default"
