#ajax
= render partial: 'layouts/breadcrumb'
= render :partial => 'questions/search'

%h1
  =@question.title

%h3
  = "Exercise: #{@question.exercise_id}"

%table{ style: "width: auto"}
  %tbody
    .row
      .col-sm-2
        %button#vote_up.btn.btn-success.glyphicon.glyphicon-thumbs-up{:type => "button"}
          = button_to '+', up_vote_question_path(@question), method: :post
          = @question.upvote
        -#%form#vote_up{"accept-charset" => "UTF-8", :action => "", "data-remote" => "true", :method => ""}
        -#  %button#vote_up.btn.glyphicon.glyphicon-thumbs-up.btn-success{:onclick => "up_vote()", :type => "submit"}
        -#    = @question.up_vote
        -#%span.votes-count{"data-id" => @question.id}
        -# = @question.up_vote
        -#%form{:action => ""}
        -#  %button#vote_up.btn.glyphicon.glyphicon-thumbs-down.btn-danger{:onchange => "showCustomer(this.value)", :type => $
        -#  = @question.down_vote
        %button#vote_down.btn.btn-danger.glyphicon.glyphicon-thumbs-down{:type => "button"}
          = button_to '-', down_vote_question_path(@question), method: :post
          = @question.downvote
      .col-sm-2 	
        %h1= @question.body
        %td= link_to "Edit", edit_question_path(@question), class: "btn btn-default"        
        %td
          = form_for @question, url: question_path(@question.id), html: {:onsubmit => "return confirm('Are you sure you want to delete the question?');"}, method: :delete do |f| 
            = f.submit 'Delete', class: "btn btn-default"
      .col-sm-2                           
        =@question.flags
      .col-sm-2             
        =form_for @question, url: question_path(@question.id) do |f|                            
          =f.select(:flags, options_for_select([['Flag',''],['Duplicate', 'Duplicate'], ['Off Topic', 'Off Topic'],['Contains inappropriate langauge','Contains inappropriate langauge']]), {}, {:style => "max-width: 100px;"})      
          =f.submit 'Submit', url: question_path(@question.id), class: 'btn-default'

%table{ style: "width: auto"}
  %tbody
    .row
      .col-sm-1
        %p
          = "User: #{@question.user_id}"
      .col-sm-2
        %p
          = "Posted: #{@question.created_at.strftime("%m-%d-%Y")}"
      .col-sm-1
        -if @question.tags != nil
          %p
            = "TAGS: #{@question.tags}"
    .row
      .col-sm-1 
        %label{:for => "sel"} Flag:
      .col-sm-1
        %select#sel.form-control{ style: ' width: 2 '}
          %option Duplicate
          %option Out of topic
          %option Contains inappropriate language

%h2 Responses:
- if @responses.size == 0
  %h3 No Responses
- else
  %table.table.table-striped{ style: 'width: auto' }
    %thead
      %th Text:
      %th User:     
      %th Posted:
    %tbody
      - @responses.each do |response|
        %tr 
          %td
            = response.text
          %td
            = response.user_id
          %td
            = response.created_at.strftime("%m-%d-%Y")

=render(:partial => 'application/record_error_messages', :locals => {:record => @response})


-# Button trigger modal 
%button.btn.btn-primary.btn-md{"data-target" => "#myModalHorizontal", "data-toggle" => "modal"}
  Respond
-# Modal
#myModalHorizontal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      -# Modal Header
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only
            Cancel
        %h4#myModalLabel.modal-title
          Your Response
      -# Modal Body
      .modal-body
        %form.form-horizontal{:role => "form"}
          %textarea#comment.form-control{:rows => "5"}
      -# Modal Footer
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          Cancel
        = f.submit "Respond", class: "btn btn-success"
