%tr
	%td= link_to "Edit", edit_response_path(@response)
	%td
		= form_for @response, url: response_path(@response.id), html: {:onsubmit => "return confirm('Are you sure you want to delete the question?');"}, method: :delete do |f|
			= submit_tag('Delete')
%p= @response.text
%p= @response.user_id
%p= @response.created_at